/* Apply base font style */
body {
	 font-family: Verdana, Geneva, Arial, sans-serif; 
	 font-size:	  small;		   		/* base size */
	 margin:	  2em 16% 2em 2em; 	
	  background-color: #3D4D7A;		/* light blue background */ 
	} 

#wrapper {
	width:700px;      /* consider 960 px for final project */
	margin:0px auto;
	background-color:	#fff;	
	border:	thick solid #990000;	
}

h1 {	
	text-align:center;
	font-size:30px;
	margin-top:25px;
	margin-bottom:25px;
}


h2 {
	font-weight: bold; 
	color: 	   	maroon;
	font-size:	170%;
	font-size:25px;
	margin-top:10px;
	margin-bottom: 8px;
}

h3 {
	margin-top:25px;
	color: teal;
}


.error {
	color:	   red;
	font-size: 10px;
	height:		15px;  
}	

.error#input_error, #trulia_info {
	font-size: 16px;
	font-style: italic;
	margin-top: 20px;
	text-align: center;
}

#trulia_info {
	color: maroon;
	margin-bottom: 10px;
}

#main_content{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	text-align:left;
	line-height:20px;
	width:	500px;
	margin:	30px auto;	/* center whole block */
	margin:	15px auto;		
	padding: 20px 30px 20px 30px;	
	border:	solid 2px teal;
	border-radius:	25px;	
}	

/* styles specific to web page */
#calculator, #help_text{
	line-height:20px;
	width:	460px;
	margin:	15px auto;		
	padding: 20px 30px 20px 30px;	
}	

#calculator input, .totals input {
	float: right;
	text-align: right;  /* Right-adjust the entered numbers */
	font-size: 18px;
}  

/* From "Paint Calculator" http://www.glidden.com/calculators/paint-calculator-shadowbox.do */
input[type="text"], input[type="password"], textarea {
    border-color: #797774 #E1DEDB #E9E7E4 #514F4D;   /* mild black */	  
	/* border-color: teal; */
    border-style: solid;
    border-width: 1px;
}

.fineprint {
	font-style:	italic;
	font-size:	80%;
	text-align:	right;
}
	
.star {
	color:		red;
	font-weight:bold;
}

.totals {
	border-top: 1px dotted grey;
	margin-top:  15px;
	padding-top: 20px;
}

#max-offer-label{
	color: teal;
	font-size:22px;
}

#maximum-offer {
	border-color: teal;
	color: teal;
}

#finalize-buttons {
	text-align: center;
	padding-bottom: 25px;
}

.button {
	font-family: Arial;
	width: 210px;
	height: 50px;
	font-size:22px;	
	color: white;	
	cursor: pointer;
	border-radius: 15px;		
}


#refresh-button {
	margin-right: 30px;
	background-color: #DC143C;
}

#calculate-button {
	margin-left: 30px;
	background-color: blue;	

}

#help-text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	margin-top: 20px;
}	

/* Navigation menu in header */
#header {
	background-color: #DC143C;
	color: white;
	font-size: 30px;
	margin: auto;
	border-radius: 20px;	
}

#header h1 {
  color:		#fff;	/* white */
  padding:		40px 40px 10px 40px;
  margin:		auto;
}

#nav-header {
  padding: 3px 15px;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

#nav-header ul {
	list-style: 		none;
	padding: 			0;
}

#nav-header li {
	display:inline; 
    background-color: teal;
	margin: 0px 10px 0px 10px;
}

#nav-header li  a {
  color: white;  
  display: inline-block;
  text-decoration: none;
  width:140px;
}

#nav-header li  a:hover {
	background-color: white;
	color: teal;
	text-decoration: underline;
}


#footer {
	clear:both;
	text-align: center;
	margin-bottom: 10px;
}

	 
