RewriteEngine On

#www redirect
rewritecond %{HTTP_HOST} ^www\.(.*) [NC]
rewriterule ^/?(.*) http://%1/$1 [L,R=permanent]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT,L]